/*css created by themeswild.com*/
/*-------------------------------------------------*/
/*---------------general settings-----------------*/
/*-----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.bg {
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
ul,
li,
p,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
/*-------------------------------------------------*/
/*--------------------Home------------------------*/
/*-----------------------------------------------*/

.home {
    height: 100vh;
    width: 100% !important;
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
}
.top-bar {
    padding: 3% 10%;
}
.logo {} .logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
}
.logo a span {
    color: #FFEB3B;
    display: inline-block;
    font-size: 40px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.home-content {
    padding: 5% 10%;
    padding-top: 13vh;
}
.home-content h1 {
    font-size: 8vw;
    color: #ffffff;
    font-weight: 900;
}
.home-content h1 span {
    color: #FFEB3B;
}
.home-content h4 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    width: 60%;
    line-height: 35px;
    padding-top: 5px;
}
.home-content a {
    font-size: 16px;
    text-transform: uppercase;
    color: #FFEB3B;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 2px;
    padding-left: 3px;
}
.home-content a i {
    display: inline-block;
    text-align: right;
}
/*-------------------------------------------------*/
/*--------------------About-----------------------*/
/*-----------------------------------------------*/

.about {
    padding: 10%;
    background-color: #fff;
}
.about-profile {
    padding: 0 5%;
}
.about-profile h1 {
    font-size: 70px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
}
.about-profile h1 span {
    color: #FFEB3B;
}
.about-profile h4 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #222;
}
.about-profile h4 span {
    line-height: 32px;
}
.about-profile p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 25px;
    font-weight: 400;
}
ul.sos {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    float: right;
}
ul.sos li {
    list-style-type: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #FFEB3B;
    border-radius: 100%;
    margin-right: 10px;
}
ul.sos li a {
    display: block;
    text-align: center;
    color: #222;
}
ul.sos li a i {
    display: inline-block;
    padding-top: 26%;
}
/*-------------------------------------------------*/
/*--------------------About-----------------------*/
/*-----------------------------------------------*/

.videos {
    padding: 9% 10%;
    background-color: #f3f3f3;
}
.videos h1 {
    font-size: 70px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
}
.videos h1 span {
    color: #FFEB3B;
}
.videos h4 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #222;
    width: 70%;
}
.video-container {
    margin-top: 28px;
}
.video-one {
    background-color: #222;
}
.video-one a {
    text-decoration: none;
    color: #ffffff;
}
.video-details {
    padding: 5%;
}
.dark {
    background-color: #222;
}
.video-details h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.video-details > a {
    float: right;
    font-size: 25px;
}
.video-details p {
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    margin: 0;
    padding-top: 3px;
}
.light {
    background-color: #FFEB3B;
}
.light h4 {
    color: #222;
}
.light a {
    color: #222;
}
.light p {
    color: rgba(0, 0, 0, 0.7);
}
/*-------------------------------------------------*/
/*--------------------Contact---------------------*/
/*-----------------------------------------------*/

.contact {
    background-color: #fff;
    padding-right: 10%;
}
.contact-container {} .img-container {} .form {
    padding: 10%;
    padding-right: 0;
}
.form h1 {
    font-size: 70px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
}
.form h1 span {
    color: #FFEB3B;
}
.form h4 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #222;
    width: 70%;
}
.form input,
.form textarea {
    display: block;
    padding: 2.5vh;
    width: 100%;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border: solid 1.2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.form textarea {
    resize: none;
}
.form input:focus,
.form textarea:focus {
    outline: none;
}
.form button {
    padding: 10px 40px;
    background-color: #FFEB3B;
    color: #222;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
}






/*Experience */
.experience{background: #252525; padding: 9% 0}
.experience h2{color:#fff; font-size: 70px; font-weight: 900;}
.experience h2 span{color: #FFEB3B;}

.experience ul li{ width: 100%; display: inline-block; font-weight: 600; padding: 5px 20px; color: #fff;}
.experience ul li span.yellowText{color: #FFEB3B;}
.experience ul li span.companyName{color: #959595;}

.experience .clientstext{width: 100%; display: inline-block; font-weight: 600; padding: 5px 20px; color: #959595;}




/*-------------------------------------------------*/
/*--------------------Footer----------------------*/
/*-----------------------------------------------*/

.footer {
    background-color: #222;
    padding: 6% 10% padding-bottom: 5%;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}
.footer .logo {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.footer h4 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    text-align: center;
    padding: 5px 23%;
    font-weight: 400;
}
.footer ul {
    clear: both;
    text-align: center;
    padding-bottom: 5%;
}
.footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 7px;
    font-size: 16px;
}
hr {
    opacity: 0.4;
}
.downloadCV{ margin-top: 20px; float: left; font-weight: 600; padding: 10px 40px; background-color: #FFEB3B; color: #222; font-weight: 600; text-decoration: none;    font-size: 16px;    border: none;    text-transform: uppercase; text-decoration: none;}
.downloadCV:hover{text-decoration: none; color: #222; background: #edd925;}


.skills{ padding: 9% 10%; background-color: #f8f8f8; }
.progress-item { position: relative; width: 80%}
.progress-item .progress {height: 4px; box-shadow: none; border-radius: 5px; background-color: #c6c6c6}
.progress-item .progress-bar {  background-color: #FFEB3B;    box-shadow: none;    text-align: right;}
.progress-item .progress-percent {font-size: 10px; background-color: #313131; position: absolute;    top: -5px;    padding: 0 8px;    border-radius: 3px;}
.progress-item .progress-percent::before {    content: "";    position: absolute;    left: 0;    bottom: -4px;    border-top: 6px solid #313131;    border-right: 8px solid transparent;}

.skills h1 { font-size: 70px; font-weight: 900; color: rgba(0, 0, 0, 0.8); padding: 0; margin: 0; margin-bottom: 40px;}
.skills h1 span { color: #FFEB3B;}
.skills  h3 {    font-size: 22px;    color: rgba(0, 0, 0, 0.8);    font-weight: 400;    padding: 0;    margin: 0;    padding-top: 5px;    padding-bottom: 20px;    color: #222;    width: 70%;}


.showmore{text-align:center;}
.showmore button{margin-top: 20px; float: left; font-weight: 600; padding: 10px 40px; background-color: #FFEB3B; color: #222; font-weight: 600; text-decoration: none;    font-size: 16px;    border: none;    text-transform: uppercase; text-decoration: none; display: inline-block; width: 100%; cursor: pointer; border-radius: 0}
.showmore button:hover,
.showmore button:focus,
.showmore button:active,
.showmore button:visited{background-color: #edd925; color: #222}


.modalBoxUl{ width: 100%; display: inline-block;}
.modalBoxUl li{width: 32%; margin:0 2% 20px;  float: left; position: relative;}
.modalBoxUl li:nth-child(3n+1){margin-left: 0; margin-right: 0}
.modalBoxUl li:nth-child(3n+3){margin-right: 0; margin-left: 0}
.modalBoxUl li a{width:100%; padding:20px 20px;   color: #222; font-weight: 700; display: inline-block; text-align: center; box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; position: relative;}
.modalBoxUl li a span{position: relative; padding:60px 20px; color: #222; font-weight: 700; z-index: 99; width: 100%; background: rgba(255, 235,59,0.8); display: inline-block;}
.modalBoxUl li:hover a span{ background: rgba(255, 235,59,1)}
/*.modalBoxUl li a span:after{content:''; width: 80%; height: 80%; position: absolute; left: 10%; top: 10%; background: rgba(255, 235,59,0.8); display: inline-block; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out;}
.modalBoxUl li:hover a:after{ background: rgba(255, 235,59,1);}
*/


.modalBoxUl li.pro1 a{background: url(../images/video/pro1.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro2 a{background: url(../images/video/pro2.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro3 a{background: url(../images/video/pro3.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro4 a{background: url(../images/video/pro4.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro5 a{background: url(../images/video/pro5.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro6 a{background: url(../images/video/pro6.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro7 a{background: url(../images/video/pro7.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro8 a{background: url(../images/video/pro8.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro9 a{background: url(../images/video/pro9.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro10 a{background: url(../images/video/pro10.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro11 a{background: url(../images/video/pro11.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro12 a{background: url(../images/video/pro12.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro13 a{background: url(../images/video/pro13.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro14 a{background: url(../images/video/pro14.jpg) no-repeat; background-size:cover;}
.modalBoxUl li.pro15 a{background: url(../images/video/pro15.jpg) no-repeat; background-size:cover;}

.modalBoxUl li::before, 
.modalBoxUl li::after{  content:"";  width: 0;  height: 4px;  position: absolute;  transition: all 0.2s linear;  background: #ed373d;  z-index: 2;}
.modalBoxUl li a::before, .modalBoxUl li a::after{  content:"";  width:4px;  height:0;  position: absolute;  transition: all 0.2s linear;  background: #ed373d;  z-index: 3;}
.modalBoxUl li:hover::before, .modalBoxUl li:hover::after{  width: 100%;}
.modalBoxUl li:hover a::before, .modalBoxUl li:hover a::after{  height: 100%;}
.modalBoxUl li::after{  left: 0;  bottom: 0;  transition-delay: 0.6s;}
.modalBoxUl li a::after{  transition-delay: 0.4s;  right: 0;  bottom: 0}
.modalBoxUl li::before{ right: 0; top: 0; transition-delay: 0.2s;}
.modalBoxUl li a::before{transition-delay: 0s; left: 0;  top: 0;}
.modalBoxUl li:hover::after{  transition-delay: 0s;}
.modalBoxUl li:hover a::after{  transition-delay: 0.2s;}
.modalBoxUl li:hover::before{  transition-delay: 0.4s;}
.modalBoxUl li:hover a::before{  transition-delay: 0.6s;}